@font-face {
    font-family:'Copse-webfont';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Copse-webfont.woff') format('woff');
}
@font-face {
    font-family:'Matiz-webfont';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Matiz-webfont.woff') format('woff');
}
html, body, .row, .col-xs-9 {
    height: 100%;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    overflow: hidden;
    font-family: Copse-webfont;
}
body {
    color: rgba(31, 32, 32, 0.91);
}
.well {
    background-image: linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 0%)
}
.btn-primary {
    color: #fff;
    background-color: rgba(53, 126, 189, 0.91);
    border: dashed rgba(15, 54, 112, 0.63);
    padding: 2px 4px;
    font-size: 14px;
}
.btn-primary:hover {
    color: #fff;
    background-color: #46bcec;
    border: dashed rgba(15, 54, 112, 0.63);
    /*#46bcec*/
}
.drop-shadow {
    /* -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5); */
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, .5);
    border-radius: 5px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 1px;
}
#shadowContainer {
    width: initial;
}
h1, h2, h3, h4 {
    font-family: Matiz-webfont;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-style: dashed none;
    border-width: 1px 0;
    margin: 18px 0;
}
#wikiSource {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-style: italic;
}
#addLocationDiv {
    padding-bottom: 20px;
    font-size: medium;
    border-bottom: dashed;
    color:rgba(53, 126, 189, 0.91);
}
#addLocationInput {
    border-radius: 5px;
    text-indent: 5px;
    width: 68%;
    color: rgba(31, 32, 32, 0.91);
}
#addLocationSubmit {
    border-radius: 5px;
    margin-left: 5px;
    background: white;
    color: rgba(53, 126, 189, 0.91);
}
#addLocationSubmit:hover {
    background: rgba(53, 126, 189, 0.91);
    color: white;
}
.col-xs-3 {
    padding-right: 0px;
}
.row {
    margin-right: 0px;
}
.well {
    text-align: center;
}
#content {
    text-align: left;
}
.modal-title {
    text-align: center;
}
#locDescription {
    text-align: justify;
}
#map-canvas {
    width:100%;
    height:100%;
}
#tableCol {
    padding-left: 0px;
    z-index: 1;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*#46bcec*/
 #headerRow {
    height:10%;
    background: rgba(53, 126, 189, 0.91);
    ;
    border-bottom: dashed;
    border-right: dashed;
    border-width: 3px;
    border-color: white;
}
#title {
    text-align: center;
    color: white;
}
.tableDiv {
    padding-left: 15px;
    padding-right: 15px;
}
table {
    width: 100%;
}
thead, tbody, tr, td, th {
    display: block;
    font-size: medium;
    cursor: pointer;
}
tr:after {
    content:' ';
    display: block;
    visibility: hidden;
    clear: both;
}
thead th {
    /*height: 30px;*/
    text-align: left;
}
tbody {
    height: 90%;
    overflow-y: auto;
}
thead {
    /* fallback */
}
tbody td, thead th {
    height: 50px;
    /*width: 50%;*/
    float: left;
}
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: rgba(28, 108, 141, 0.08);
}
.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: rgba(53, 126, 189, 0.43)
}
#buttonDiv {
    padding-bottom: 12px;
}
.deleteLoc {
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    border-radius: 50px;
    color: rgba(255, 0, 0, 0.71);
    line-height: inherit;
    background: white;
}
.deleteLoc:hover {
    background: rgba(255, 0, 0, 1);
    color: white;
}
.removeButton {
    text-align: center !important;
    width: 30%;
    /*padding: 10% !important;*/
}
.rowLocation {
    width: 70% !important;
}
.locTh {
    width: 70% !important;
    text-align: center !important;
    padding-top: 14px !important;
}
.removeTh {
    width: 30% !important;
    text-align: center !important;
    padding-top: 14px !important;
}
#viewInGmaps {
    display: inline;
    float: right;
}
.gInfowindow {
    text-align: center;
}
*:focus {
    outline: 0;
}
