html, body, .row, .col-xs-9 {
	height: 100%;
	margin-left: 0px;
	margin-right: 0px;
}

#map-canvas {
	width:100%;
 	height:100%;
}

#headerRow {
	width:100%;
 	height:10%;
 	background: #46bcec;
 	border-bottom: dashed;
 	border-width: 3px;
 	border-color: white;
}
#titleDiv {
	margin-left: 3%;
}
#title {
 	border-style: solid;
 	border-top-left-radius: 50px; 
 	border-bottom-right-radius: 50px; 
 	width: 20%;
 	height: 50%;
 	text-align: center;
 	color: white;
}